[Desktop Entry]
Type=Application
Version=1.0
Name=Blackmagic RAW Player
Path=/opt/resolve/BlackmagicRAWPlayer/
Exec=/opt/resolve/BlackmagicRAWPlayer/BlackmagicRAWPlayer %f
Terminal=false
Icon=blackmagicraw-player
MimeType=application/x-braw-clip;application/x-braw-sidecar
Categories=Video
