[Desktop Entry]
Version=1.0
Type=Application
Name=DaVinci Control Panels Setup
GenericName=DaVinci Control Panels Setup
Path=/opt/resolve/
Icon=davinci-panels
Exec=davinci-control-panels-setup
Terminal=false
Name[en_US]=DaVinci Control Panels Setup
